body {
    padding-left:auto;
    padding-right:auto;
}
.w-card{
    width:30%;
}
.justify-center {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.card {
    overflow:auto;
}
.shop-w{
    width: 50%;
}
#shopping-cart div div:first-child {
    border-radius: 5px 5px 0 0;
}
#shopping-cart div div:last-child {
    border-radius:0 0 5px 5px ;
}

div.shopping-cart small{
    color:rgba(0,0,0,0.3 );
}

div.shopping-cart:hover
{
    background-color:rgba(0,0,0,0.02 );
    color:rgba(0, 128, 0,0.7);
}
@media all and (max-width:1000px){

    .justify-center {
        display:block;
    }
    .w-card{
        width:45%;
        margin-top:10px;
    }
    .shop-w{
        width:100%;
        padding-top:5%;
        margin-top:10%;
        border-top:2px solid rgba(0,0,0,0.05 );
    }

}
select option {
    overflow:auto;
}

@media all and (max-width:700px){

    .justify-center {
        display:block;
    }
    .w-card{
        width:90%;
        margin-top:10px;
    }

}

