/*++++ HELPER STYLES++++*/
.brdr-orng {
    border:1px solid orangered;
}
.brdr-orng-l {
    border:1px solid orange;
}
/*====General styling====*/
html,body, .navigation a{
    position: relative;
    color:#FFFFFF;
    font-size:16px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
}
#home,#services,#about,#work,#contact, #header {
    padding-left:15.625%;
    padding-right:14.375%;
}
#home,#services,#about,#work,#contact {
    height:100%;
   
}
/*=== SOME PRE-DEFINED COLORS===*/
.text-palered-lighter-more {
    color:#ec9da2;
}

/*=== HEADER ===*/
#header {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    width:100%;
}
.logo {
    padding-top:0.5rem;
    font-family: 'Damion', cursive;
    font-size: 3.75rem; /*60px*/
    line-height: 3.625rem; /*58px*/
}
.navigation {
    padding-top:0.5rem;
    text-align: right;
}

.navigation a{
    font-size:1.125rem; /*18px*/
    line-height: 3.75rem;/*60px*/
    text-decoration:none;
    padding:2.5rem 1.5rem 1rem 1.5rem;/*top-40px right-24px bottom-16px left-24 px*/
}
.navigation a.home:hover,
.navigation a.services:hover,
.navigation a.about:hover,
.navigation a.work:hover,
.navigation a.contact:hover { 
    border-bottom-left-radius: 0.3125rem; /*5px*/
    border-bottom-right-radius: 0.3125rem; /*5px*/
}
.navigation a.home:hover {
    background-color: #74c7d5;
}
.navigation a.services:hover {
    background-color: #df5c64;
}
.navigation a.about:hover {
    background-color: #91778e;
}
.navigation a.work:hover {
    background-color: #a1ca6c;
}
.navigation a.contact:hover {
    background-color: #82c8bd;
}

/*== HOME ==*/
#home{
    background-color: #2c3e50;
    background-image:url("images/gallery/bg-home-art.png"),
                    url("images/gallery/bg-home-picture.png");
    background-repeat: no-repeat,no-repeat;
    background-size: 100% 100%,100% 100%;
}

#top-shader {
    height:2.2%;
    background-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, #2c3e50 100%);
    opacity:0.55;
    position: absolute;
}

/*== SERVICES ==*/
#services {
    /*Backgroud*/
    background-color: #b24a50;
    background-image:url("images/gallery/bg-services-art.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0rem -10rem;/*0 -160px*/
}

/*== ABOUT ==*/
#about{
    /*Backgroud*/
    background-color: #665464;
    background-image:url("images/gallery/bg-about-art.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0rem -15rem;/*0 -240px*/
}

/*== WORK ==*/
#work {
    /*Backgroud*/
    background-color: #81a256;
    background-image:url("images/gallery/bg-work-art.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*== CONTACTS ==*/
#contacts {
    /*Backgroud*/
    background-color: #68a097;
    background-image:url("images/gallery/bg-contacts-art.png");
    background-repeat: no-repeat;
    background-position: -75rem -27.5rem; /*-1200px -440px*/
    background-size:150%;
}

/*==CONTENT RELATED==*/

.content-wrapper {
    height:100%;
    padding:0;
}

#services, #about, #work {
    /*Content issues*/
    overflow: hidden;
    padding-top:8%;
    padding-bottom:0.5%;
}
.content-header {
    overflow: hidden;
    text-align: center;
    padding-top:0;
    height:30%;
}
.content-header header {
    padding:0;
    font-size: 3.375rem;/*54px it was originaly 60*/
}
.content-header header p {
    font-size: 1.125rem;/*18px - originaly 20px*/
}
.content-header header,
.content-header header p {
    text-transform: uppercase;
    line-height: 3.0375rem;/*48.6px -originaly 58px*/
}
.content-header>p {
    font-size: 0.7875rem;/*12.6px originaly 14px*/
    line-height:1.35rem; /*21.6px originaly 24px*/
}
.meet-team {
    margin:-1% 35% 0 35%;
    width:17.25rem; /*276px*/
    height:4.0625rem;/*65px*/
    font-size:1.35rem; /*21.6px originaly 24px*/
    line-height: 3.0375rem;/*48.6px -originaly 58px*/
    font-weight: 800;
    text-transform: uppercase;
    background-image:url("images/gallery/m-team-bg.svg");
    background-size: 100% 100%;
}

.content-body {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom:0.0625rem; /*1px*/
    padding-top:0;
    height:70%;
}
.content-column {
    padding:0.75rem; /*12px*/
    margin:1%;
    width:16.25rem;/*260px*/
    height: auto;
    border-radius: 0.3125rem;/*5px*/
}
#services .content-column:hover {
    opacity:0.9;
}
.content-column:first-child{
    margin-left:0;
}
.content-column:last-child{
    margin-right:0;
}
.content-navigation {
    height: 15%;
    border-top: 1px solid #94b963;
    border-bottom: 1px solid #94b963;
}

.service-info {
    color: #fefefe;
    font-size: 0.7875rem;/*12.6px originaly 14px*/
    line-height:1.125rem; /*18.6px originaly 20px*/
}
.service-name {
    text-transform: uppercase;
    font-size: 1.6875rem; /*27px originaly 30px*/
    line-height: 3.0375rem;/*48.6px -originaly 58px*/
}

.service-icon-border {
    border:0.375rem solid #FFFFFF;
    border-radius: 50%;
    width:8.125rem; /*130px*/
    height:8.125rem;
    padding:0.375rem; /*5px*/
    margin:10% 18% 0 18%;
}
.service-icon-background {
    width:100%;
    height:100%;
    border-radius: 50%;
    background-color: #FFFFFF;
}
.service-research {
    background-image: url("images/gallery/lightball.svg");
    background-repeat: no-repeat;
    background-position:1.875rem 1.25rem;
    background-size:50%;
}
.service-design {
    background-image: url("images/gallery/m-wand.svg");
    background-repeat: no-repeat;
    background-position:1.875rem 1.875rem;
    background-size:50%;
}
.service-dev {
    background-image: url("images/gallery/giars.svg");
    background-repeat: no-repeat;
    background-position:1.875rem 1.875rem;
    background-size:50%;
}
.service-launch {
    background-image: url("images/gallery/rocket.svg");
    background-repeat: no-repeat;
    background-position:1.875rem 1.875rem;
    background-size:50%;
}

.service-info,.service-name {
    text-align: center;
}

.person-icon-border {
    border: 0.375rem solid #a1859e;
    border-radius: 50%;
    width:9.375rem; /*150px*/
    height:9.375rem;
    background-color: #FFFFFF;
    padding:0.25rem; /*4px*/
    margin:10% 10% 0 10%;
}
.person-icon-background {
    width:100%;
    height:100%;
    border-radius: 50%;
    background-color: #FFFFFF;
}
.person-avatar {
    background-image: url("images/gallery/user.svg");
    background-repeat: no-repeat;
    background-position:0 0.725rem;
    background-size:100%;
}
.person-name {
    color: #c7b6c5;
    font-size:1.35rem; /*21.6px originaly 24px*/
    line-height: 3.0375rem;/*48.6px -originaly 58px*/
    font-weight: 800;
    text-transform: uppercase;
}
.person-job {
    color: #a1ca6c;
    font-size: 0.7875rem;/*12.6px originaly 14px*/
    line-height: 3.0375rem;/*48.6px -originaly 58px*/
    margin-top:-1rem;/*16px*/
}
.person-name,.person-job{
    text-align: center;    
}
.person-social {
    margin-top: 2rem;/*32px*/
    display:flex;
    justify-content: space-around;
}
.person-social .facebook, 
.person-social .twitter, 
.person-social .google,
.person-social .linkedin {
    width:1.875rem;/*30px*/
    height:1.875rem;/*30px*/
    border-radius: 50%;
    background-color: #a1859e;
}
.person-social .facebook {
    background-image: url("images/gallery/facebook.svg");
    background-repeat:no-repeat;
    background-size: 45%;
    background-position:0.5rem 0.125rem;
}
.person-social .twitter {
    background-image: url("images/gallery/twit.svg");
    background-repeat:no-repeat;
    background-size: 60%;
    background-position:0.5rem 0.5rem;
}
.person-social .google {
    background-image: url("images/gallery/gplus.svg");
    background-repeat:no-repeat;
    background-size: 60%;
    background-position:0.5rem 0.5rem;
}
.person-social .linkedin {
    background-image: url("images/gallery/lin.svg");
    background-repeat:no-repeat;
    background-size: 50%;
    background-position:0.5rem 0.375rem;
}

#about .content-column:hover .person-social .facebook {
    background-color: #4f689e;
}
#about .content-column:hover .person-social .twitter {
    background-color: #74c7d5;
}
#about .content-column:hover .person-social .google {
    background-color: #df5c64;
}
#about .content-column:hover .person-social .linkedin {
    background-color: #3e61af;
}
#about .content-column:hover .person-icon-border .person-avatar{
    background-image: url("images/gallery/user-hover.svg");
    background-repeat: no-repeat;
    background-position:0 0.725rem;
    background-size:100%;
}

#about .content-column:hover .person-icon-border{
    border: 0.375rem solid #df5c64;
    border-radius: 50%;
    width:9.375rem; /*150px*/
    height:9.375rem;
    padding:0.25rem; /*4px*/
    margin:10% 10% 0 10%;
}

#about .content-column:hover .person-name {
    color:#FFFFFF;
}
#about .content-column:hover .person-job {
    color: #ff8973;
}
#services .content-column {
    background-color: #c8535a;
}
#services .content-header>p{
    color: #ffcccf;
    margin:auto;
}
#about .content-column {
    background-color: #4d3f4b;
}

#about .content-column:hover,
#services .content-column:hover {
    cursor: pointer;
}
#work .content-header {
    height: 20%;
}
#work .content-body {
    height: 65%;
}