body {
    padding-left:auto;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
}
#page1 {
    padding:18%;
    padding-top:19%;
    overflow: auto;
    display:flex;
    text-align: center;
    word-spacing: 0.1rem;
    flex-direction: column;
    justify-content: baseline;
    background-image: url("./images/photo-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#page2,
#page3,
#page4 {
    margin:0%;
    padding:10%;
    width:100%;
    height: auto;
    overflow: auto;
}
#page4 {
    padding:3%;
    background-color: rgba(255,255,255,0.1);
}
#page3 {
    background-color: rgba(255,255,255,0.9);
}
#page2 div,
#page3 div,
#page4 div {
    overflow:auto;
}
#page2 img,
#page3 img {
    width:90%;
}
#page4 img {
    margin-bottom:0.25rem;
    width:24.5%;
}
.small {
    font: size 0.7rem;
}
a.small {
    font-size:0.7rem;
    font-weight:bold;
}
.btn-d .btn,
.d-view .btn {
    border-radius: 0px;
    padding:0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.d-view {
    padding:0;
    margin-left:10%;
    width:80%;  
}
div.btn-d{
    display:flex;
}
.btn-d .btn{
    width:10rem;
}
.btn-purple {
    background-color: rgb(96, 86, 226);
}
.btn-purple:hover{
    background-color: rgb(67, 60, 161);
}
.shadow-small {
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.d-view {
    display:flex;
}
#page1 .nav-redirect:hover {
    box-shadow: 2px 2px 10px rgba(255,255,255,0.5);
}
.nav-redirect:hover {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.seo-w{
    width:30%;
    margin-top: 1%;
}

@media all and (max-width:460px){
    div.btn-d{
        display:block;
        margin-top: 0.5rem;
    }
    .seo-w{
        width:75%;
    }
}
@media all and (max-width:1000px){
    .d-view{
        display:block;
        margin-top: 0.5rem;
    }
    h1 {
        font-size: 2rem;
        text-shadow: 0 0 0.05rem black;
    }
    .seo-w{
        width:75%;
        margin-top:10%;
    }
    #page4 img {
        margin-bottom:0.25rem;
        width:49%;
    }
}