body {
    font-size: 100%;

}
body.sans {
    font-family: Arial, Helvetica, sans-serif;
}

/* Prevent block element of taking the whole window width */
section{
    margin-top:5%;
}
.SectionWrapper {
    width:50%;
    padding:1px;
    margin-left:10%;
}
.section-shadow{
    padding:0rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 1px #888;
}

/* styles applied to Colors Assignment */
/* Borders */
.RedBorder {
    border:1px solid red;
}
.BlueBorder {
    border:1px solid blue;
}
.GreenBorder {
    border:1px solid green;
}

/* Texts */
.RedText {
    color: red;
}
.BlueText {
    color: blue;
}
.GreenText {
    color: green;
}
/* Inline elements shown as inline-block */
span.showInline {
    width:100%;
    padding:30px;
    display: inline-block;
}
.bckgrBlue {
    background-color: rgba(22, 55, 154, 1.0);
}
.opacity_95 {
    background-color: rgba(63, 95, 194, 0.95);  
}
.opacity_50 {
    background-color: rgba(22, 55, 154, 0.5);  
}
.opacity_15 {
    background-color: rgba(22, 55, 154, 0.15);  
}

/* styles applied to Backgrounds Assignment */
.seaBackground {
    padding: 10px;
    padding-bottom:30%;
    background: url(../images/calmsummersea.jpg);
    background-origin:border-box;
    background-repeat: no-repeat;
    background-size:100% auto;
}
.eilatBackground {
    padding: 10px;
    background-image: url(../images/eilat1024x1024.jpg);
    background-origin:border-box;
    background-repeat: no-repeat;
    background-size:100% auto;
}

.eilatBackground h1, 
.eilatBackground p  {
    color:#FFFFFF;
    text-shadow: 1px 1px 1px #222222;
}
.flag {
    width:15%;
    background-image: url(../images/israelflag.png);
    background-repeat: no-repeat;
    background-size:18px auto;
    background-position: right;
    background-origin: content-box;
}

.price-position {
    width:18%;
    margin-left:80%;
    margin-top:30%;
    padding:3px;
    background-color: #444444;   
    border-radius: 2px;
    box-shadow: 1px 1px 1px black;
}
.price-position p {
    text-align: right;
}

/* BoxModel Assignment */
.BoxSizeWrapper {
    height:60px;
    padding:10px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/*Texts And Fonts Assignment*/

p.serifed {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.125em;
}
p.sans-serifed {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h1,
h1.bebas-font,
p.bebas-font::first-letter {
    font-size:2em;
}

h1.indent {
    text-indent: 1em;
}

h1.bebas-font,
p.bebas-font::first-letter {
    font-family: Bebas,Arial, Helvetica, sans-serif;
}

h2.striped {
    text-decoration-line: line-through;
    text-align: right;
}

p.streched {
    line-height: 1.5em;
    word-spacing: 1em;
    letter-spacing: 0.2em;
}

p.first-line::first-line {
    font-size: 1.2em;
    font-weight: bold;
}

/* Lists Assignment*/
ul{
    list-style-type: none;
}
li{
    padding-left:3rem;
    margin:0.8rem;
}
li.leafed {
    background-image: url("../images/leaf.png");
    background-repeat: no-repeat;
    background-size: 35px auto;
    background-position: left;
}

/* Image sprites list styles */
section.eshop {
    width:25%; 
}
.colapsable {
    color:#FFF;
    background-color: #33ABFF;
    padding:0.4rem;
}

span#colapse {
    font-weight: normal;
    color:#FFF;
    text-decoration: none;
}

span#colapse:hover{
    font-style: oblique;
    text-decoration: none;
    cursor: pointer;
}

ul.eshop {
    list-style-type: none;
    display: none;
}

ul.eshop li {
    padding:0.8rem;
    padding-left:1rem;
    margin:0;
    margin-left:-2.5rem;
}
ul.eshop li a{
    color:#000;
    text-decoration: none;
    vertical-align: baseline;
}

ul.eshop li:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}
#phone  {
    background: url("../Images/mysprites.png") -5px -42px;
}
#computer  {
    background: url("../Images/mysprites.png") -7px -78px;
}
#tv  {
    background: url("../Images/mysprites.png") -6px -110px;
}
#bigelectronics  {
    background: url("../Images/mysprites.png") -7px -145px;
}
#smallelectronics  {
    background: url("../Images/mysprites.png") -7px -175px;
}
#fashion  {
    background: url("../Images/mysprites.png") -7px -215px;
}
#health  {
    background: url("../Images/mysprites.png") -7px -250px;
}
#home  {
    background: url("../Images/mysprites.png") -6px -285px;
}
#books  {
    background: url("../Images/mysprites.png") -6px -320px;
}
#toys  {
    background: url("../Images/mysprites.png") -6px -352px;
}
#sport  {
    background: url("../Images/mysprites.png") -5px -387px;
}
#diy  {
    background: url("../Images/mysprites.png") -5px -420px;
}
#food  {
    background: url("../Images/mysprites.png") -5px -457px;
}

#phone, #computer,#tv,
#bigelectronics,#smallelectronics,
#fashion,#health,
#home, #books, #toys,
#sport, #diy, #food  {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display:inline-block;
    margin-bottom:-0.2rem;
    margin-right:0.3rem;
}
/* Horizontal Navbar */
section.navbar {
    margin-left:10%;
    padding:0;
}

.navbar ul{
    margin:0;
    margin-left:-2.5rem;
    list-style-type: none;
    display: inline-block;
}
.navbar li{
    margin:0rem;
    padding:0.5rem;
    background-color: #559b9f;
    float:left;
    display:block;
    position:relative;
}
.navbar li a {
    color:#FFFFFF;
    text-decoration:none;
    background-color: #559b9f;
}
.navbar li:hover,
.navbar li:hover a {
    background-color: #1d3435;
}
.navbar li ul{
    clear:both;
    margin:0.2rem;
    display:none;
    position: absolute;;
}


.navbar li:hover ul{
    padding:0rem;
    background-color: #1d3435;
    display: block;
}

.navbar li li{
    width:100%;
    background-color: #1d3435;
} 
.navbar li li:hover,
.navbar li li:hover a {
    background-color: #559b9f;
}

/* Social madia icons in horizontal list*/
.extend {
    margin-left: 10%;
    width:70%;
}
.social-list {
    padding:0.5rem;
}
.social-list ul{
    margin:0;
    margin-left: 0rem;
    list-style-type: none;
    display: inline-block;
}
.social-list li{
    margin:0rem;
    padding:0.5rem;
    background-color: #E7E7E7;
    float:left;
}
#fbook {
    background: url("../Images/lists-4.png") 0px 0px;
}
#twit {
    background: url("../Images/lists-4.png") -188px 0px;
}
#gplus {
    background: url("../Images/lists-4.png") -374px 0px;
}
#lnkdin {
    background: url("../Images/lists-4.png") -560px 0px;
}
#fbook, #twit, #gplus, #lnkdin{
    background-size: auto;
    width: 176px;
    height: 46px;
    background-repeat: no-repeat;
    display:inline-block;
}
/* Tables Assignments */
.weekly_schedule {
    border-collapse: collapse;
}
.weekly_schedule table {
    margin:0rem;
}
.weekly_schedule table,
.weekly_schedule th,
.weekly_schedule td {
    border:1px solid  #2D696A;
}

.weekly_schedule th,.weekly_schedule td {
    padding:0.5rem;
    font-size: 0.8rem;
}
.weekly_schedule tr:nth-child(even){
    background-color: #BFDBDE
}
.weekly_schedule thead tr{
    background-color: #5D999A;
    color:#FFFFFF;
}
.weekly_schedule tr:hover{
    background-color: #5D999A;
    color:#FFFFFF;
}
.table-title {
    text-align:center;
    color:#2D696A;
}

.books-table table{
    width:100%;
    margin:0rem;
}
.books-table tr th {
    text-transform: uppercase;
    border-top:0.125rem solid #AAAAAA;
    border-bottom:0.2rem solid #000000;
}
.books-table tr:nth-child(even) td {
    background-color: #DDDDDD;
}
.books-table tr:hover td {
    background-color: #5D999A;
}

.books-table th,.books-table td {
    width:50%; 
    padding:1rem;
}

/* CSS Layouts Assignment */
/* Shortcuts task*/
.shortcut-container {
    width:30%;
    padding:0.5rem;
    height:auto;
    background-color: #EEE;
}
.shortcut-container h4 {
    color:#AAA;
    margin:0rem;
}
.shortcut-container a{
    text-decoration: none;
    color:#666;
}
.shortcut-container a:hover{
    color:#888;
}

.shortcut{
    vertical-align: middle;
}

.shortcut img {
    width:1.5rem;
}
.spanbox {
    width:8rem;
    white-space: nowrap; 
    overflow:hidden;
    text-overflow: ellipsis;
    box-sizing:border-box;
    display:inline-block;
}

/* Instgram kind of layout*/
.row::after{
    content:"";
    clear: both;
    display: table;
}
.user {
    padding:0.8rem;
    
}
.left {
    float:left;
}
.right {
    float:right;
}
.user img{
    width:1.5rem;
}
.user a{
    vertical-align: top;
    color:#222;
    text-decoration: none;
}
.user a:hover{
    color:#666;
}
.clearfix {
    overflow: auto;
}
.user-reaction {
    padding:0.8rem;
    padding-bottom:1.2rem;
}
.user-reaction img {
    width:2rem;
}
.user-reaction img:hover {
    cursor: pointer;
}
/* Properties for rent*/
.column {
    margin:0.3rem;
    width:28%;
    height: 31rem;
}
.column img{
    border-radius:0.2rem;
    width:100%;
}

.property-city {
    color:#666;
}
.property-price {
    color:#444;
    font-weight: bold;
}
.rating-value {
    border-radius: 0.4rem 0.4rem 0.4rem 0;
    padding:0.5rem 0.3rem;   
    color:#FFF;
    font-weight: bold;
    background-color: #103565;
}
.rating {
    color:#103565;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}
.rating-view {
    color:#a1a1a1;
    font-size: 0.8rem;
}

.row-nice {
        padding-left: 10%;
        padding-right: 10%;
    }

@media screen and (max-width:890px) {
    .column{
        width:45%;
        height:75%;
    }
    
}
@media screen and (max-width:649px) {
    .column{
        width:100%;
        height:93%;

    }
    .row-nice {
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media screen and (max-width:550px) {
    .column{
        width:100%;
        height:82%;
    }
    .row-nice {
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media screen and (max-width:400px) {
    .column{
        width:100%;
        height:85%;
    }
}
/*Chat */

.first-col{
    width:5%;
}
.second-col{
    width:72%;
}
.third-col{
    width:14%;
    font-weight:600;
    font-size: 0.8rem;
    opacity: 0.4;
}
.first-col,
.second-col,
.third-col {
    margin-left:0rem;
    margin-right:0.1rem;
}
.third-col {
    
}

.chat {
    padding:0.3rem;
    height:auto;
}
.chat img{
    width:100%;   
}
.name {
    margin-top:-0.1rem;
    vertical-align: top;
    color:#103565;
    font-weight:600;
}
.third-col img{
    width: 1rem;
}
.chat-time {
    vertical-align: top;
    text-align: right;
}
/* Emoji layout with art text*/
.emoji{
    height:9rem;
    border:0.1rem solid #444;
    margin:0rem;
    padding:0.5rem;
    font-family: Papyrus,serif;
    line-height: 1rem;
    overflow:hidden;
    text-overflow: ellipsis;
    box-sizing:border-box;
}
.emoji-unhappy{
    background: url("../Images/emoji.png") 0 0;
}
.emoji-exorsted {
    background: url("../Images/emoji.png") -94px 0;
}
.emoji-happy {
    background: url("../Images/emoji.png") -188px 0;
}
.emoji-cool {
    background: url("../Images/emoji.png") -282px 0;
}
.emoji-crying {
    background: url("../Images/emoji.png") -376px 0;
}
.emoji-angry {
    background: url("../Images/emoji.png") -470px 0;
}
.emoji-unhappy,
.emoji-exorsted,
.emoji-happy,
.emoji-cool,
.emoji-crying,
.emoji-angry {
    width:92px;
    height:92px;
    margin-bottom: 1rem;
    margin-right:1rem; 
    background-repeat: no-repeat;
    display:inline-block;
}

/* News feed */
.post-section-title-slash{
    width:90%;
    height:2rem;
    padding:0;
    display: inline-block;
    background-image: url("../Images/slash.jpg") ;
    background-repeat: repeat-x;
    opacity:0.8;
}
.post-section-title{
    padding:0.1rem 0.5rem;
    background-color:#FFF;
    display: inline-block;
}
.col-left{
    width:25%;
    height:auto;
}
.col-right {
    width: 65%;
    height: 10rem;
}
.col-left,.col-right {
    overflow:auto;
}

.post-content{
    margin:-0.5%;
    width: 90%;
    height: 2rem;
    font-size:0.9rem;
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.col-right h4,
.post-content {
    color:#666;
}

.post-info {
    color:#AAA;
    font-size: 0.8rem;
    font-family: serif;
    font-style: oblique;
}

.col-right,.col-left{
    padding:2%;
}
.post-picture {
    margin-top:10%;
    padding:1.5%;
    box-shadow: 0 0 5px #666;
}
.post-picture img {
    border-radius:0%;
    width:100%;
}
.heading {
    background-image: url("../Images/slash.jpg");
    background-repeat:repeat-x;
    opacity: 0.8;
}
.heading h4 {
    margin-top:-0.1%;
    padding: 0.1rem 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    background-color: #FFF;
    display:inline-block;
    opacity:1;
}
.col-two{
    overflow:auto;
    margin:1%;
    padding:0.5%;
    width:45%;
    height:auto;
}
.active-col{
    color:#F53;
}
span.active-col{
    color:#000;
}

.gall-col {
    overflow:auto;
    width:22%;
    padding:1rem;
    box-shadow: 0 0 1px #AAA;
}
.gall-col img {
    width:100%;
    opacity:0.5;
}
.gall-col img:hover {
    opacity:1;
}
.gall-col p {
    font-size:0.7rem;
    text-align: center;
}
.green-border {
    border:1px solid #6B6;
}
.earn-col {
    width: 19.5%;
    height:14.5rem;
    
    border-left:1px solid #AAA;
}
.earn-col:first-child {
    border:0;
}
section.earn-money {
    margin:10%;
    overflow:auto;      
    width:80%; 
}
.earn-money header {
    width:99.7%;
    height:auto;
    background-color:#6B6;
    color:#FFF;
    margin:0;
    padding:0;
    padding-left:0.3%;
    display:inline-block;
}
.earn-money h1 {
    margin:0;
    display:inline-block;
}
.earn-col div{
    width:100%;
    text-align: center;
    padding:1.5rem 0.5rem 1rem 0rem ;
}
.earn-col p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    font-size: 1.2rem;
    display: inline-block; 
}
.earn-col p.green{
    margin:0;
    padding-left:1.8rem;
    padding-right:2.2rem;
    padding-bottom:3rem;
    padding-top:1rem;
    width:1rem;
    height:1rem;    
    font-size: 2.5rem;
    color:#FFF;
    border-radius: 50% 50%;
    background-color:#6B6;
    display: inline-block; 
}

@media screen and (max-width:900px){
    .post-section-title-slash{
        width:70%;
    }
    .gall-col {
        width:44%;
    }

}
@media screen and (max-width:700px){
    .col-right,.col-left,.col-two{
        width:100%;
    }

}

@media screen and (max-width:600px){
    .post-section-title-slash{
        width:70%;
    }
    .gall-col {
            width:88%;
    }   
}
@media screen and (max-width:500px){
    .post-section-title-slash{
        width:65%;
    }
    
}
